In [34]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [35]:
data_osn = pd.read_csv('osn.csv')
data_osn

,Unnamed: 0,Nama Peserta,Gender,Sekolah,Provinsi,Kab/Kota,Bidang,Jenjang Lomba,Jenjang Sekolah,Kelas,Medali,Prize Tambahan,Tahun
0,0,Gangsar Lintas Damai,L,MA Amanatul Ummah,Jawa Timur,Kota Surabaya,Biologi,SMA,SMA,11.0,Partisipan,NaN,2016
1,1,Muhammad Khairul Ihsan,L,MAN 1 Banda Aceh,Aceh,Kota Banda Aceh,Ekonomi,SMA,SMA,11.0,Partisipan,NaN,2021
2,2,Farhannur,L,MAN 1 Banda Aceh,Aceh,Kota Banda Aceh,Ekonomi,SMA,SMA,11.0,Emas,NaN,2022
3,3,Muhammad Fathoni,L,MAN 1 Banda Aceh,Aceh,Kota Banda Aceh,Fisika,SMA,SMA,11.0,Partisipan,NaN,2022
4,4,Rahmat MI,L,MAN 1 Banda Aceh,Aceh,Kota Banda Aceh,Kimia,SMA,SMA,11.0,Partisipan,NaN,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19322,19322,Fitri Julia Simamora,P,SMPN 4 Doloksanggul,Sumatera Utara,Kab. Humbang Hasundutan,Matematika,SMP,SMP,7.0,Partisipan,NaN,2024
19323,19323,Jonathan Kevin Aruan,L,SMPN 6 Sentajo,Riau,Kab. Kuantan Singingi,IPS,SMP,SMP,NaN,Partisipan,NaN,2016
19324,19324,Mely Winda Sihite,P,SMPN 4 Doloksanggul,Sumatera Utara,Kab. Humbang Hasundutan,Matematika,SMP,SMP,7.0,Partisipan,NaN,2024
19325,19325,Jelita Fazira,P,SMPN 4 Pantai Labu Satu Atap,Sumatera Utara,Kab. Deli Serdang,IPS,SMP,SMP,NaN,Partisipan,NaN,2021
19326,19326,Pether Kanisius Gajah,L,SMPN 4 Parlilitan,Sumatera Utara,Kab. Humbang Hasundutan,IPS,SMP,SMP,NaN,Partisipan,NaN,2020

In [36]:

data_osn = pd.read_csv('osn.csv')

kategori_sma_inf = data_osn[(data_osn['Jenjang Lomba'] == 'SMA') & (data_osn['Bidang'] == 'Informatika')]

kategori_sma_inf_reset = kategori_sma_inf.reset_index(drop=True)


if 'Unnamed: 0' in kategori_sma_inf_reset.columns:
    del kategori_sma_inf_reset['Unnamed: 0']


urutan_medali = {
    'Emas': 1,
    'Perak': 2,
    'Perunggu': 3,
    'Peserta': 4,
}


kategori_sma_inf_reset.loc[:, 'Peringkat'] = kategori_sma_inf_reset['Medali'].map(urutan_medali)


kategori_sma_inf_sorted = kategori_sma_inf_reset.sort_values(by='Peringkat').reset_index(drop=True)
kategori_sma_inf_sorted

,Nama Peserta,Gender,Sekolah,Provinsi,Kab/Kota,Bidang,Jenjang Lomba,Jenjang Sekolah,Kelas,Medali,Prize Tambahan,Tahun,Peringkat
0,Albert Yulius Ramahalim,L,SMA Katolik Ricci,DKI Jakarta,Kota Jakarta Barat,Informatika,SMA,SMA,11.0,Emas,NaN,2021,1.0
1,Rama Aryasuta Pangestu,L,SMA Kolese Kanisius,DKI Jakarta,Kota Jakarta Pusat,Informatika,SMA,SMA,10.0,Emas,NaN,2019,1.0
2,Moses Mayer,L,SMA Jakarta Intercultural School,DKI Jakarta,Kota Jakarta Selatan,Informatika,SMA,SMA,11.0,Emas,NaN,2018,1.0
3,Nicholas Patrick,L,SMP Cita Hati Christian School,Jawa Timur,Kota Surabaya,Informatika,SMA,SMP,9.0,Emas,NaN,2018,1.0
4,Nathan Allan,L,SMP Kolese Kanisius,DKI Jakarta,Kota Jakarta Pusat,Informatika,SMA,SMP,8.0,Emas,NaN,2022,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482,Muhammad Salman Al-Farisi,L,SMPN 2 Pamekasan,Jawa Timur,Kab. Pamekasan,Informatika,SMA,SMP,9.0,Partisipan,NaN,2015,NaN
1483,Shalahuddin Akbar Aviecena,L,SMA Yayasan Pendidikan Vidya Dahana Patra,Kalimantan Timur,Kota Bontang,Informatika,SMA,SMA,11.0,Partisipan,NaN,2017,NaN
1484,A R Yamin,L,SMPN 2 Pamekasan,Jawa Timur,Kab. Pamekasan,Informatika,SMA,SMP,9.0,Partisipan,NaN,2014,NaN
1485,Radhya Cahya Kusuma,L,SMPN 8 Yogyakarta,DI Yogyakarta,Kota Yogyakarta,Informatika,SMA,SMP,9.0,Partisipan,NaN,2021,NaN
1486,Zikru Akbar Isnain,P,SMAN 8 Kota Ternate,Maluku Utara,Kota Ternate,Informatika,SMA,SMA,11.0,Partisipan,NaN,2019,NaN

In [37]:
kategori_sma_inf_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1487 entries, 0 to 1486
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nama Peserta     1487 non-null   object
 1   Gender           1487 non-null   object
 2   Sekolah          1487 non-null   object
 3   Provinsi         1487 non-null   object
 4   Kab/Kota         1487 non-null   object
 5   Bidang           1487 non-null   object
 6   Jenjang Lomba    1487 non-null   object
 7   Jenjang Sekolah  1487 non-null   object
 8   Kelas            1436 non-null   float64
 9   Medali           1487 non-null   object
 10  Prize Tambahan   16 non-null     object
 11  Tahun            1487 non-null   int64
 12  Peringkat        481 non-null    float64
dtypes: float64(2), int64(1), object(10)
memory usage: 151.2+ KB

In [42]:
# kategori_sma_inf_sorted

prize_tambahan_sorted = kategori_sma_inf_sorted.sort_values(by=['Peringkat', 'Prize Tambahan'], na_position='last')

prize_tambahan_sorted.drop(columns=['Peringkat'], inplace=True)
prize_tambahan_sorted.reset_index(drop=True, inplace=True)
prize_tambahan_sorted

,Nama Peserta,Gender,Sekolah,Provinsi,Kab/Kota,Bidang,Jenjang Lomba,Jenjang Sekolah,Kelas,Medali,Prize Tambahan,Tahun
0,Nathan Azaria,L,SMAN 2 Purwokerto,Jawa Tengah,Kab. Banyumas,Informatika,SMA,SMA,10.0,Emas,Best Paper Test,2011
1,Jonathan Irvin Gunawan,L,SMA Kristen BPK Penabur 1 Bandung,Jawa Barat,Kota Bandung,Informatika,SMA,SMA,10.0,Emas,Best Programming Test,2011
2,Umar Alfarouk,L,SMP Pribadi Bandung,Jawa Barat,Kota Bandung,Informatika,SMA,SMP,9.0,Emas,Kontestan Muda Terbaik,2013
3,Stacia Edina Johanna,P,SMA Kristen Petra 3,Jawa Timur,Kota Surabaya,Informatika,SMA,SMA,10.0,Emas,Kontestan Wanita Terbaik,2014
4,Franklin Filbert Irwan,L,SMA Darma Yudha Pekanbaru,Riau,Kota Pekanbaru,Informatika,SMA,SMA,10.0,Emas,Perfect Scorer,2024
...,...,...,...,...,...,...,...,...,...,...,...,...
1482,Muhammad Salman Al-Farisi,L,SMPN 2 Pamekasan,Jawa Timur,Kab. Pamekasan,Informatika,SMA,SMP,9.0,Partisipan,NaN,2015
1483,Shalahuddin Akbar Aviecena,L,SMA Yayasan Pendidikan Vidya Dahana Patra,Kalimantan Timur,Kota Bontang,Informatika,SMA,SMA,11.0,Partisipan,NaN,2017
1484,A R Yamin,L,SMPN 2 Pamekasan,Jawa Timur,Kab. Pamekasan,Informatika,SMA,SMP,9.0,Partisipan,NaN,2014
1485,Radhya Cahya Kusuma,L,SMPN 8 Yogyakarta,DI Yogyakarta,Kota Yogyakarta,Informatika,SMA,SMP,9.0,Partisipan,NaN,2021
1486,Zikru Akbar Isnain,P,SMAN 8 Kota Ternate,Maluku Utara,Kota Ternate,Informatika,SMA,SMA,11.0,Partisipan,NaN,2019